*{
  font-family: 'Lato', sans-serif;
  color:#000;
  padding: 0;
  margin: 0;
}
.header {
  height: 60px;
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100% auto;
  clear: both;
  padding-bottom: 3px;

}
.header-logo {
  width: 90px;
  height: 55px;
  margin: 3px 0 3px 10px;
  cursor: pointer;
  outline: none;
}


.nav-list {
  display: flex;
  padding-left: 0;
  padding-top: 16px;
}

.header-button {
  padding: 4px 0 4px;
  justify-content: space-between;
  list-style: none;

}
.nav-btn {
  text-decoration: none;
}

.home,
.found,
.gallery,
.help,
.login {
  padding: 20px 55px 24px;
}

.nav-home:hover,
.nav-home:focus {
  background-color: #d1f5f2;
}
.nav-lost:hover,
.nav-lost:focus {
  background-color: #e96969;
}
.nav-found:hover,
.nav-found:focus {
  background-color: #83d5fb;
}
.nav-gallery:hover,
.nav-gallery:focus {
  background-color: #a8b0fb;
}
.nav-help:hover,
.nav-help:focus {
  background-color: #b7ffb7;
}
.nav-login:hover,
.nav-login:focus {
  background-color: #f77979;
}


.nav-toggle {
  display: none;
  position: relative;
  float: right;
  width: 50px;
  height: 40px;
  margin-left: 70%;
  background: #FFF;
  cursor: pointer;
  }
  .nav-toggle span {
  display: block;
  position: absolute;
  top: 30px;
  left: 8px;
  right: 8px;
  height: 2px;
  background: #000;
  }
  .nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 2px;
  background: #000;
  }
  .nav-toggle span:before {
  top: -10px;
  }
  .nav-toggle span:after {
  bottom: -10px;
  }
  /* show hidden menu*/
  #menu.active {
  max-height: 123px;
  }

  @media (max-width: 768px) {
    /* show menu-toggle */
    .nav-toggle {
    display: block;
    padding-bottom: 20px;
    padding-right: 15px;
    }
    header {
    padding: 10px 0;
    }
    /* hidden menu */
    #menu {
    max-height: 0;
    background: white;
    float: none;
    position: absolute;
    overflow: hidden;
    top: 63px;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: 3;
    }

    .toggle-menu {
      margin-top: 35px;
      padding-top: 10px;
      width: 200px;
      height: 180px;
      margin-left: -146px;
      display: none;
    }

    .toggle-button {
      list-style: none;
      margin: 30px 0;
    }

    .home-toggle,
    .found-toggle,
    .gallery-toggle,
    .help-toggle,
    .login-toggle {
      margin: 25px 0;
      background-color: #FFF;
      opacity: 0.7;
    }

    .home-toggle {
      padding: 15px 79px 15px 79px;
    }

    .found-toggle {
      padding: 15px 76px 15px 77px;
    }

    .gallery-toggle {
      padding: 15px 76px 15px 74px;
    }

    .help-toggle {
      padding: 15px 84px;
    }

    .login-toggle {
      padding: 15px 82px 15px 81px;
    }

    .nav-toggle:hover .toggle-menu {
      display: block;
    }
  }
