<!-- <p>
  header works!
</p> -->
<!-- <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> -->
<div class='header'>
  <img [routerLink]="['']"
  routerLinkActive="active"
  class="header-logo"
  src="./assets/logo7.svg"
  alt="WIMP">
  <nav class='navigation'>
      <div class="nav-toggle"><span></span>
        <ul class='toggle-menu'>
          <li class="toggle-button">
              <a class='nav-home home-toggle nav-btn'
              [routerLink]="['home']"
              routerLinkActive="active">Home</a>
          </li>
          <li class="toggle-button">
            <a class='nav-found found-toggle nav-btn'
            [routerLink]="['search']"
            routerLinkActive="active">Search</a>
          </li>
          <li class="toggle-button">
            <a class='nav-gallery  gallery-toggle nav-btn'
            [routerLink]="['gallery']"
            routerLinkActive="active">Gallery</a>
          </li>
          <li class="toggle-button">
            <a class='nav-help help-toggle nav-btn'
            [routerLink]="['help']"
            routerLinkActive="active">Help</a>
          </li>
        <!-- </ul>
        <ul class='enter'> -->
          <li class="toggle-button">
            <a class='nav-login login-toggle nav-btn'
            [routerLink]="['login']"
            routerLinkActive="active">Login</a>
          </li>

          <!-- <li class='join-hover join'>
            <a [routerLink]="['join']"
            routerLinkActive="active">Join</a>
          </li> -->
        </ul>
      </div>
    <ul class="nav-list" id='menu'>
      <!-- <li>
        <a class='lost-hover'
        [routerLink]="['found']"
        routerLinkActive="active">Lost a Pet</a>
      </li> -->
      <li class="header-button">
          <a class='nav-home home nav-btn'
          [routerLink]="['home']"
          routerLinkActive="active">Home</a>
        </li>
      <li class="header-button">
        <a class='nav-found found nav-btn'
        [routerLink]="['search']"
        routerLinkActive="active">Search</a>
      </li>
      <li class="header-button">
        <a class='nav-gallery gallery nav-btn'
        [routerLink]="['gallery']"
        routerLinkActive="active">Gallery</a>
      </li>
      <li class="header-button">
        <a class='nav-help help nav-btn'
        [routerLink]="['help']"
        routerLinkActive="active">Help</a>
      </li>
      <li class="header-button">
        <a class='nav-login login nav-btn'
        [routerLink]="['login']"
        routerLinkActive="active">Login</a>
      </li>
    </ul>
  </nav>
</div>
<!-- <script>
    $('.nav-toggle').on('click', function(){
    $('#menu').toggleClass('active');
    });
</script> -->


