
.product-filter {
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
  /* background-image: url ('/assets/paws.svg'); */
  align-items: center;
  background-color: #ffffff;

}
.product-filter h1 {
  flex-grow: 1;
}

.sort{
display: flex;
flex-wrap: wrap;
/* width: 100%; */
/* background-color: #f39d3b; */
justify-content: flex-end;
}

.collection-sort {
  display: flex;
  flex-direction: column;
  padding: 20px 35px ;
  opacity: 1;
/*
  width: 100px; */
}
select {
  border: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 38px;
  width: 150px;
  background: #f2f2f2;
  border: 2px solid;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}
select:active,
select:hover {
  background-color: #a3cfa3;
  border: none;
}
