<!-- <p>
  filter works!
</p> -->
<!-- <div class="product-filter">

  <h1>Pet Gallery</h1>

  <div class="sort">

    <div class="collection-sort">
      <label>Filter status by :</label>
      <select>
        <option value="/">All</option>
        <option value="/">Lost</option>
        <option value="/">Found</option>
      </select>
    </div>

    <div class="collection-sort">
      <label>Sort by:</label>
      <select>
        <option value="/">First new</option>
        <option value="/">First old</option>
      </select>
    </div>

    <div class="collection-sort">
        <label>Sort by radius:</label>
        <select>
          <option value="/">All</option>
          <option value="/">500 m</option>
          <option value="/">1 km</option>
          <option value="/">5 km</option>
          <option value="/">10 km</option>
          <option value="/">50 km</option>
          <option value="/">100 km</option>
        </select>
      </div>

  </div>

</div> -->
