@font-face {
  font-family: 'Rancho', cursive;src: url("https://fonts.googleapis.com/css?family=Rancho");
  font-family: 'Lato'; src: url("https://fonts.googleapis.com/css?family=Lato:100, 300, 400,400i,700,700i");
}
* {
  font-family: 'rancho';
}

* {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* .image {
width: 100%;
 } */
 app-filter {
   /* position: fixed;
   margin: 0 auto; */
 }
