
.help {
  height: 500px;
  margin-bottom: 150px;
}
.help-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h3 {
  padding-top:20px;
}
img {
  width:25%;
  position: absolute;
  top: 120px;
   right:50px;
   opacity: 0.01;
  /* float: right; */
}
.help-img__main {
  opacity: 1;
}

.help-info__string {
/* background: url('/assets/help.jpg'); */
}

.img-first:hover+.help-img__first{
  opacity: 1;
}

.img-second:hover{

}

.img-third:hover{

}

.img-fourth:hover{

}

.img-fifth:hover{

}
