
.help {
  margin-top: 90px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  /* height: 500px;
  margin-bottom: 150px; */
}

.help-h2  {
  font-family: 'Rancho';
}
.help-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* position: relative; */
}

h3 {
  padding-top:20px;
}
img {
  text-align: center;
  /* width:15%; */
  position: absolute;
  /* top: 25%; */
   /* right:10%; */
   /* bottom: 100px; */
   opacity: 0;

  /* float: right; */
}

.help-img__phone {
  opacity: 1;
  width: 26%;
  right: 35%;
  /* right: 2.8%; */
  top: 25%;
  /* bottom:480px; */
}

.help-img__main {
  opacity: 1;
  top: 50%;
}

.help-img {
  width:15.1%;
top: 360px;
right: 40.38%;
position: absolute;
/* right:10%; */
}

.help-content {
  padding-top: 50px;
  padding-bottom: 220px;
  padding-left: 100px;
}

.help-info__string {
  width: 15%;
padding: 17px 30px;
}

.img-first:hover {
  background-color: yellow;
}
.img-first:hover+.help-img__first{
  opacity: 1;
}

.img-second:hover {
  background-color: orange;
}
.img-second:hover+.help-img__second{
opacity: 1;
}

.img-third:hover {
  background-color: red;
}
.img-third:hover+.help-img__third{
opacity: 1;
}

.img-fourth:hover {
  background-color: violet;
}
.img-fourth:hover+.help-img__fourth{
opacity: 1
}

.img-fifth:hover {
  background-color: blue;
}
.img-fifth:hover+.help-img__fifth{
  opacity: 1;
}

.img-six:hover {
  background-color: green;
}
.img-six:hover+.help-img__six{
  opacity: 1;
}
