<!-- <p>
  popup works!
</p> -->

<div class='work' id="bg_popup">
  <div id="popup">

      <div class='work-title'>
          <h2 class='work-info__h2'>How It Works</h2>
      </div>
      <div class='work-info'>
          <div class='work-list'>
            <div class='work-content work-content__first'>
                <a class='work-link' href='./login'>
                  <h3 class='work-list__h3 work-title'>Login or Register</h3>
                  <span class='work-list__text work-text text-hidden'>Login or Register with Telegram account and pick your location</span>
                </a>

            </div>
            <div class='work-content'>
                <h3 class='work-list__h3 work-title'>Select Found or Lost</h3>
                <span class='work-list__text work-text text-hidden'>Did you find or lose a pet?</span>
            </div>
            <div class='work-content'>
                <h3 class='work-list__h3 work-title'>Fill out a search form</h3>
                <span class='work-list__text work-text text-hidden'>Privide important information about your pet</span>
            </div>
            <div class='work-content'>
              <h3 class='work-list__h3 work-title'>Download a Photo</h3>
              <span class='work-list__text work-text text-hidden'>Download a photo of the pet</span>
            </div>
            <div class='work-content'>
                <h3 class='work-list__h3 work-title'> Pick a Location</h3>
                <span class='work-list__text work-text text-hidden'>Tell us where you lost or found this pet</span>
            </div>
            <div class='work-content work-content__last'>
                <h3 class='work-list__h3 work-title'>Send request</h3>
                <span class='work-list__text work-text text-hidden'>After press a button 'Send', your request must be aprouv by admin</span>
            </div>
            <div class='work-content'></div>
          </div>

              <div class="work-img col-12 text-right">
                  <img src="./assets/catdogselfie.jpg" class="work-img__photo">
                  <h3 class='work-img__text' style=" font-family: 'rancho';font-size: 32px;">Say Cheeeesssee!</h3>
              </div>
      </div>
      <a class="close" href="#" title="Закрыть" onclick="document.getElementById('bg_popup').style.display='none'; return false;">X</a>
  </div>


</div>
