/* *{
  font-family: 'Lato', sans-serif;
} */
@font-face {
  font-family: 'Lato', sans-serif;
  src: url("https://fonts.googleapis.com/css?family=Lato");
       /* url("/fonts/OpenSans-Regular-webfont.woff") format("woff"); */
}
@font-face {
  font-family: 'Rancho', cursive;
  src: url("https://fonts.googleapis.com/css?family=Rancho");
}
* {
  margin: 0;
  padding: 0;
  width: 100% auto;
 }

