<!-- <p>
  home works!
</p> -->
<div>


<!-- <img class='image' src='./assets/slide0-min.jpg'> -->
<!-- src='https://www.lostmydoggie.com/img/slide0.jpg' -->
<!-- src='https://finding-rover-inc-res.cloudinary.com/image/upload/v1535143454/website_assets/placeholdcamdog.jpg' -->
<div
class=slide__overlay
>
</div>
</div>
<div class='home-background'>
    <img class='image' src='./assets/slide0-min.jpg'>
<div class="title-info">
  <h2 class='title-info__h2'>LOST & FOUND PETS</h2>
    <h3 class='title-info__h3'>SEARCH LOST & FOUND PETS IN YOUR AREA</h3>
  <button (onClick)='active' class='button-start'>
    <span class='button-start__title'>Get started</span>
  </button>
</div>
<div class='work'>
  <div class='work-title'>
      <h2 class='work-info__h2'>How It Works</h2>
  </div>
  <div class='work-info'>
      <div class='work-list'>
        <div class='work-content work-content__first'>
            <a class='work-link' href='./login'>
              <h3 class='work-list__h3 work-title'>Login or Register</h3>
              <span class='work-list__text work-text text-hidden'>Login or Register with Telegram account and pick your location</span>
            </a>

        </div>
        <div class='work-content'>
            <h3 class='work-list__h3 work-title'>Select Found or Lost</h3>
            <span class='work-list__text work-text text-hidden'>Did you find or lose a pet?</span>
        </div>
        <div class='work-content'>
            <h3 class='work-list__h3 work-title'>Fill out a search form</h3>
            <span class='work-list__text work-text text-hidden'>Privide important information about your pet</span>
        </div>
        <div class='work-content'>
          <h3 class='work-list__h3 work-title'>Download a Photo</h3>
          <span class='work-list__text work-text text-hidden'>Download a photo of the pet</span>
        </div>
        <div class='work-content'>
            <h3 class='work-list__h3 work-title'> Pick a Location</h3>
            <span class='work-list__text work-text text-hidden'>Tell us where you lost or found this pet</span>
        </div>
        <div class='work-content work-content__last'>
            <h3 class='work-list__h3 work-title'>Send request</h3>
            <span class='work-list__text work-text text-hidden'>After press a button 'Send', your request must be aprouv by admin</span>
        </div>
        <div class='work-content'></div>
      </div>

          <div class="work-img col-12 text-right">
              <img src="./assets/catdogselfie.jpg" class="img-fluid">
              <h3 style=" font-family: 'rancho';font-size: 32px;">Say Cheeeesssee!</h3>
          </div>
  </div>

</div>



</div>
<!-- <h2>FIND YOUR PET</h2>

<button class='button-start'>Get started</button>
<h2>FIND YOUR PET</h2>
<h2>FIND YOUR PET</h2>
<h2>FIND YOUR PET</h2>
<h2>FIND YOUR PET</h2>
<h2>FIND YOUR PET</h2>
<h2>FIND YOUR PET</h2>
<h2>FIND YOUR PET</h2>
<h2>FIND YOUR PET</h2>
<h2>FIND YOUR PET</h2>
<h2>FIND YOUR PET</h2>
<h2>FIND YOUR PET</h2> -->


<!--
<div class="modal fade show" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" style="padding-right: 15px; display: block;">
  <div class="modal-dialog modal-start" style="">
    <div class="modal-header" style="border-bottom-style: none; z-index: 1000;">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="z-index: 1000;color: white; opacity: 1;">
          <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-content" style="max-width: 1128px;margin-left: auto; margin-right: auto;">
      <section style="background: white;">


        <div class="container" id="secondSection" style="min-height: 140px; background: white;border-bottom-style: none;">
            <div class="row" style="padding-top: 20px;">
                <div class="col-12 text-center">
                    <h1 style="font-family: 'Rancho', cursive; padding-bottom:5px;">How It Works</h1>
                </div>
                <div class="col-lg-6 col-sm-12 text-center" style="padding-bottom: 30px; padding-top: 25px;">
                    <div class="row">

                        <div class="col-12 d-flex justify-content-center align-content-left flex-column">
                            <div class="row">
                                <div class="col-sm-2 text-center">
                                <i class="fa fa-hand-o-right fa-3x" style="color: #484747; padding-top: 4px;" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm-10 text-left stepdirect">
                                    <strong style="font-size: 35px; font-family: 'rancho';">Select <a href="/lost" data-turbolinks="false" id="losttext"><span>Lost</span></a>, <a href="/found" id="foundtext" data-turbolinks="false"><span>Found</span></a> or <a href="/adoptable" id="adopttext" data-turbolinks="false"><span>Adopt</span></a></strong><br>
                                <span>Did you find, lose or want to adopt a pet?</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 text-center ">
                                    <img style="width: 40px;" src="/assets/galleryicon-a594601479fe7dd4a2ab06ba0b0e52f36dd71cf79fd303d149708483b6c6845b.svg" alt="Galleryicon" />-->
                                    <!-- <i class="fa fa-image fa-3x" style="color: #484747;padding-top: 4px;" aria-hidden="true"></i>

                                </div>
                                <div class="col-sm-10 text-left stepdirect">
                                    <strong style="font-size: 35px;font-family: 'rancho';">Choose a Photo</strong><br>
                                    <span>Choose or take a photo of the pet</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 text-center">
                                    <i class="fa fa-map-marker fa-3x" style="color: #484747;padding-top: 4px;" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm-10 text-left stepdirect">
                                    <strong style="font-size: 35px;font-family: 'rancho';">Pick a Location</strong><br>
                                    <span style="">Tell us where you lost or found this pet</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2 text-center">
                                    <i class="fa fa-search fa-3x" style="color: #484747;padding-top: 4px;" aria-hidden="true"></i>
                                </div>
                                <div class="col-sm-10 text-left stepdirect">
                                    <strong style="font-size: 35px;font-family: 'rancho';">Search</strong><br>
                                    <span style="">See matching results instantly!</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12 hidemobile">
                    <div class="row">
                        <div class="col-12 text-right">
                            <img src="https://finding-rover-inc-res.cloudinary.com/image/upload/v1535142849/website_assets/catdogselfie.jpg" class="img-fluid">
                            <h3 style="    font-family: 'rancho';font-size: 32px; padding-right: 36px;">Say Cheeeesssee!</h3>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <section id="registrationrow" style="background: #d8d8d88c; padding: 20px; background: white;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-6 col-sm-12 col-12 text-center d-flex flex-column align-content-center justify-content-center hidemobile">
                    <p style="font-size: 18px;">By registering your pet in the Finding Rover Community, your pet becomes searchable by thousands of users if he or she is ever lost.<br></p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12 text-center" style="padding: 0px;">
                        <a href="/registermypet" id="letsstartbtn" class="btn btn-lg btn-primary" style="color: white; font-family: 'Rancho', cursive; font-size: 32px;width: 350px; max-width: 100%; min-width: 300px;">Register Your Pet Now</a><br>
                        <span style="font-family: 'Rancho'; font-size: 24px;">Registering and Using Finding Rover is <strong style="font-size: 26px; color: #ff6635;">Free</strong></span>
                </div>
            </div>
        </div>
    </section>
    </div>
  </div>
</div>
<div class="modal-content" style="max-width: 1128px;margin-left: auto; margin-right: auto;">
  <section style="background: white;">


<script src="/assets/home-f076a11fc5b9d13ec0609182ce11fda606842fb3d4a0de4c9f9d964305bf55fc.js"></script>
<script>

  function favorite() {
    $('#favmodal').modal('show');
  }
</script> -->
