<!-- <p>
  home works!
</p> -->
<div>


<div
class=slide__overlay
>
</div>
</div>
<div class='home-background'>
    <img class='image' src='./assets/slide0-min.jpg'>
<div class="title-info">
  <h2 class='title-info__h2'>LOST & FOUND PETS</h2>
    <h3 class='title-info__h3'>SEARCH LOST & FOUND PETS IN YOUR AREA</h3>
  <button (onClick)='active' class='button-start'>
    <span class='button-start__title'>Get started</span>
  </button>
</div>



<div class='help'>
    <h2 class='help-h2'>Use the Free WIMP Telegram Bot</h2>
    <div class='help-info'>
      <div class='help-info__text'>
        <a router></a>
        <a></a>
      </div>
      <div>
          <img  class='help-img__phone help-img' src='./assets/smartphone.svg' alt='phone'>
      </div>

      <div class='help-info__img'>

        <img class='help-img__main help-img help-img__inside' src="./assets/help.jpg" alt="help_photo">
      </div>
    </div>

  <div class='help-content'>
    <div>
      <p class='help-info__string login img-first'>Register or login</p>
      <img class='help-img__first help-img help-img__inside' src="./assets/help-1.jpg">
    </div>
    <div>
      <p class='help-info__string search img-second'>Select Lost or Found</p>
      <img class='help-img__second help-img help-img__inside'src="./assets/help-2.jpg">
    </div>
    <div>
        <p class='help-info__string message img-third'>Write message</p>
      <img class='help-img__third help-img help-img__inside'src="./assets/help-3.jpg">
    </div>
    <div>
        <p class='help-info__string photo img-fourth'>Choose a photo</p>
        <img class='help-img__fourth help-img help-img__inside'src="./assets/help-4.jpg">
    </div>
    <div>
        <p class='help-info__string location img-fifth'>Pick a Location</p>
        <img class='help-img__fifth help-img help-img__inside'src="./assets/help-5.jpg">
    </div>
    <div>
        <p class='help-info__string send img-six'>Send</p>
        <img class='help-img__six help-img help-img__inside'src="./assets/help-6.jpg">
      </div>
  </div>
        <p></p>

    <!-- <div>
    <img src="./assets/help.jpg" alt="help_photo">
    </div> -->
  </div>
<!-- <div class='work'>
  <div class='work-title'>
      <h2 class='work-info__h2'>How It Works</h2>
  </div>
  <div class='work-info'>
      <div class='work-list'>
        <div class='work-content work-content__first'>
            <a class='work-link' href='./login'>
              <h3 class='work-list__h3 work-title'>Login or Register</h3>
              <span class='work-list__text work-text text-hidden'>Login or Register with Telegram account and pick your location</span>
            </a>

        </div>
        <div class='work-content'>
            <h3 class='work-list__h3 work-title'>Select Found or Lost</h3>
            <span class='work-list__text work-text text-hidden'>Did you find or lose a pet?</span>
        </div>
        <div class='work-content'>
            <h3 class='work-list__h3 work-title'>Fill out a search form</h3>
            <span class='work-list__text work-text text-hidden'>Privide important information about your pet</span>
        </div>
        <div class='work-content'>
          <h3 class='work-list__h3 work-title'>Download a Photo</h3>
          <span class='work-list__text work-text text-hidden'>Download a photo of the pet</span>
        </div>
        <div class='work-content'>
            <h3 class='work-list__h3 work-title'> Pick a Location</h3>
            <span class='work-list__text work-text text-hidden'>Tell us where you lost or found this pet</span>
        </div>
        <div class='work-content work-content__last'>
            <h3 class='work-list__h3 work-title'>Send request</h3>
            <span class='work-list__text work-text text-hidden'>After press a button 'Send', your request must be aprouv by admin</span>
        </div>
        <div class='work-content'></div>
      </div>

          <div class="work-img col-12 text-right">
              <img src="./assets/catdogselfie.jpg" class="img-fluid">
              <h3 style=" font-family: 'rancho';font-size: 32px;">Say Cheeeesssee!</h3>
          </div>
  </div>

</div> -->



</div>

