@font-face {
  font-family: 'Rancho', cursive;
  src: url("https://fonts.googleapis.com/css?family=Rancho");
}

* {
  font-family: 'rancho', cursive;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  /* color: #FFF; */
}

.home-background {
  margin-top: 59px;
  width: 100%;
}
.image{
width: 100%;
/* height: auto; */
/* padding-top: 59px; */
}

.button-start {
  height: 55px;
  width: 180px;
  background-color: #f13c3c;
  border: none;
  box-shadow: 10px 10px 5px #927575;

  /* transform: scale(2.15); */
  /* -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease; */
  -webkit-animation: pulses 3s infinite ease-in-out;
    -o-animation: pulses 3s infinite ease-in-out;
    -ms-animation: pulses 3s infinite ease-in-out;
    -moz-animation: pulses 3s infinite ease-in-out;
    animation: pulses 3s infinite ease-in-out;
}
@-webkit-keyframes pulses {
  0% { -webkit-transform: scale(0.9); opacity: 0.7; }
  50% { -webkit-transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(0.9); opacity: 0.7; }
}

@keyframes pulses {
  0% { transform: scale(0.9); opacity: 0.7; }
  50% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.9); opacity: 0.7; }
}

.button-start__title {
  font-size: 35px;
}

.home-background {
  /* background: url('/assets/slide0-min.jpg') no-repeat;
  background-size: 100%  130%;
  height: 900px; */
  position: relative;
}

.home-background .title-info {
  /* top: 350px; */
  top: calc( (100vw - 480px)/(1280 - 480) * (250 - 90) + 40px);
  /* margin-top: -590px; */
  vertical-align: baseline;
  /* background-color: #108896; */
  margin-bottom: 15%;
  padding-left: 5%;
  text-align: left;
  position: absolute;
  /* overflow: hidden; */
  /* margin-left: 200px; */
  width: 89%;
}

.title-info{
  color: #FFF;
}

.title-info__h2 {
  /* font-size: 160px; */
  font-size: calc( (100vw - 480px)/(1280 - 480) * (110 - 50) + 40px);
  margin-bottom: 40px;

}

.title-info__h3 {
  /* font-size: 70px; */
  font-size: calc( (100vw - 480px)/(1280 - 480) * (50 - 20) + 20px);
  margin-bottom: 60px;
  /* padding-left: 20px; */
  /* width: 1500px; */
}

.work {
  padding-top: 3%;
  width: 100% auto;
  height: 690px;
}
.work-info {
  padding-top: 30px;
  display: flex;
}

.work-info__h2 {
  /* font-size: 90px; */
}

.work-info__h2 {
  font-size: calc( (100vw - 480px)/(1280 - 480) * (60 - 18) + 18px);
}

.work-content {
  /* padding-top: 0.5%; */
  opacity: 0.5;
}

.work-content:hover {
  transform: scale(1.3);
  opacity: 1;
  margin: 40px 0 50px;
  /* visibility: visible; */
  transition: 2s;
}

.work-content__first:hover {
  margin: 0 0 50px 0;
}

.work-content__last:hover {
  margin: 40px 0 0 0;
}

/* .work-title:hover {
  transition: 2s;
} */

.work-list {
  padding-left: 10%;
  width: 150vh;
}

.work-list__h3 {
  font-size: calc( (100vw - 480px)/(1280 - 480) * (40 - 20) + 20px);
}

.work-list__text {
  font-size: calc( (100vw - 480px)/(1280 - 480) * (22 - 10) + 10px);
}

.work-img {
 padding-top: 8%;
  /* width: 150vh; */
  /* width: 100%; */
  /* float: right; */
}

.work-link {
text-decoration: none;
}

.work-link:visited {
  color: #000;
}

.work-text {
  /* background-color: yellow;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 130px; */
  opacity: 1;

}

.text-hidden {
  visibility: hidden;
}

.work-title:hover+.text-hidden,
.text-hidden:hover,
.work-content:hover,
.work-title:hover {
  visibility: visible;
  /* transition: 1.5s; */
}

.help {
  margin-top: 90px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  /* height: 500px;
  margin-bottom: 150px; */
}

.help-h2  {
  font-family: 'Rancho';
}
.help-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* position: relative; */
}

.help-img {
  text-align: center;
  /* width:15%; */
  position: absolute;
  /* top: 25%; */
   /* right:10%; */
   /* bottom: 100px; */
   opacity: 0;

  /* float: right; */
}

.help-img__phone {
  opacity: 1;
  width: 26%;
  right: 35%;
  /* right: 2.8%; */
  top: 25%;
  /* bottom:480px; */
}

.help-img__main {
  opacity: 1;
  top: 50%;
}

.help-img__inside {
width:15.1%;
top: 360px;
right: 40.38%;
position: absolute;
/* right:10%; */
}

.help-content {
  width: 80%;
  padding-top: 50px;
  padding-bottom: 220px;
  padding-left: 100px;
}

.help-info__string {
  width: 15%;
padding: 17px 30px;
}

.img-first:hover {
  background-color: yellow;
}
.img-first:hover+.help-img__first{
  opacity: 1;
}

.img-second:hover {
  background-color: orange;
}
.img-second:hover+.help-img__second{
opacity: 1;
}

.img-third:hover {
  background-color: red;
}
.img-third:hover+.help-img__third{
opacity: 1;
}

.img-fourth:hover {
  background-color: violet;
}
.img-fourth:hover+.help-img__fourth{
opacity: 1
}

.img-fifth:hover {
  background-color: blue;
}
.img-fifth:hover+.help-img__fifth{
  opacity: 1;
}

.img-six:hover {
  background-color: green;
}
.img-six:hover+.help-img__six{
  opacity: 1;
}
