@font-face {
  font-family: 'Rancho', cursive;
  src: url("https://fonts.googleapis.com/css?family=Rancho");
}

* {
  font-family: 'rancho', cursive;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  /* color: #FFF; */
}

.home-background {
  margin-top: 50px;
  width: 100%;

}
.image{
width: 100%;


/* height: auto; */
/* padding-top: 59px; */
}

.button-start {
  /* height: 60px; */
  width: 15%;
  padding: 1% 0;
  background-color: #f13c3c;
  border: none;
  box-shadow: 10px 10px 5px #927575;
  border-radius: 20px;

  /* transform: scale(2.15); */
  /* -webkit-animation: swing 0.6s ease;
  animation: swing 0.6s ease; */
  -webkit-animation: pulses 3s infinite ease-in-out;
    -o-animation: pulses 3s infinite ease-in-out;
    -ms-animation: pulses 3s infinite ease-in-out;
    -moz-animation: pulses 3s infinite ease-in-out;
    animation: pulses 3s infinite ease-in-out;
}
@-webkit-keyframes pulses {
  0% { -webkit-transform: scale(0.9); opacity: 0.7; }
  50% { -webkit-transform: scale(1); opacity: 1; }
  100% { -webkit-transform: scale(0.9); opacity: 0.7; }
}

@keyframes pulses {
  0% { transform: scale(0.9); opacity: 0.7; }
  50% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0.9); opacity: 0.7; }
}

.button-start__title {
  /* font-size: 35px; */
  font-size: calc( (100vw - 480px)/(1280 - 480) * (40 - 15) + 15px);
  margin: 5% 5%;
}

.home-background {
  /* background: url('/assets/slide0-min.jpg') no-repeat;
  background-size: 100%  130%;
  height: 900px; */
  position: relative;
}

.home-background .title-info {
  /* top: 350px; */
  top: calc( (100vw - 480px)/(1280 - 480) * (230 - 90) + 40px);
  /* margin-top: -590px; */
  vertical-align: baseline;
  /* background-color: #108896; */
  margin-bottom: 17%;
  padding-left: 5%;
  text-align: left;
  position: absolute;
  /* overflow: hidden; */
  /* margin-left: 200px; */
  width: 89%;

}

.title-info{
  color: #FFF;
  text-shadow: 10px 10px 25px #000;
  text-shadow: 0 0 10px #000;
}

.title-info__h2 {
  /* font-size: 160px; */
  font-size: calc( (100vw - 480px)/(1280 - 480) * (110 - 50) + 40px);
  margin-bottom: 4%;
  text-shadow: 0 0 10px #000;

}

.title-info__h3 {
  /* font-size: 70px; */
  font-size: calc( (100vw - 480px)/(1280 - 480) * (50 - 20) + 20px);
  margin-bottom: 6%;
  /* padding-left: 20px; */
  /* width: 1500px; */
}


.text-hidden {
  visibility: hidden;
}

.work-title:hover+.text-hidden,
.text-hidden:hover,
.work-content:hover,
.work-title:hover {
  visibility: visible;
  /* transition: 1.5s; */
}

.help {
  margin-top: 50px;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  height: 50%;
  margin-bottom: 3%;
  position: relative;
  /* height: 500px;
  margin-bottom: 150px; */
}

.help-h2  {
  font-family: 'Rancho';
  font-weight: 100;
  font-size: calc( (100vw - 480px)/(1280 - 480) * (38 - 20) + 20px);
  text-align: center;
  text-shadow: 5px 5px 10px #585858;
}
.help-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* position: relative; */
}

.help-img {
  /* text-align: center; */
  /* width:15%; */
  position: absolute;
  /* top: 25%; */
   /* right:10%; */
   /* bottom: 100px; */
   opacity: 0;

  /* float: right; */
}


.help-img__phone {
  opacity: 1;
  width: 26%;
  right: 35%;
  /* right: 2.8%; */
  top: 10%;
  bottom: 10%;

  /* bottom:480px; */
}

.help-img__main {
  opacity: 1;
  top: 23%;
}

.help-img__inside {
width:15.1%;
top: 23%;
right: 40.39%;
position: absolute;
/* right:10%; */
}

@media (min-width: 1401px) and (max-width: 1725px) {
  .help-img__inside {
    top: 20%;
  }
}
@media (min-width: 1281px) and (max-width: 1440px) {
  .help-img__inside {
    top: 20.65%;
  }

}
@media (min-width: 1095px) and (max-width: 1280px) {
  .help-img__inside {
    top: 19.5%;
  }
}
@media (min-width: 981px) and (max-width: 1094px) {
  .help-img__inside {
    top: 18.65%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media (min-width: 881px) and (max-width: 980px) {
  .help-img__inside {
    top: 17.65%;
  }
}


@media (min-width: 763px) and (max-width: 880px) {
  .help-img__inside {
    top: 16.65%;
  }
}

@media (min-width: 663px) and (max-width: 762px) {
  .help-img__inside {
    top: 15.65%;
  }
}

@media  (max-width: 320px) {

}


.help-content {
  width: 80%;
  height: 50%;
  padding-top: 40px;
  padding-bottom: 90px;
  padding-left: 5%;
}

.help-content__even {
  margin-left: 18%;
}

.help-content__odd {
  margin-left: 20%;
}

.help-info__string {
/* width: 35%; */
margin-left: 2%;
padding: 17px 30px 20px 10px;
font-family: Lato, sans-serif;
font-weight: 100;
font-size: calc( (100vw - 480px)/(1280 - 480) * (25 - 18) + 18px);
opacity: 0.6;
text-align: left;
}

.help-info__string:hover {
  opacity: 1;
}

.help-content__icon {
  width: 30px;
  height: 30px;
  opacity: 1;
}

.help-content__icon:hover {
  opacity: 1;
}
.help-content__line {
  margin-top: 1%;

  display: flex;
  width: 35%;
  opacity: 0.5;
}

.help-content__line:hover {
  opacity: 1;
}


.img-first:hover+.help-img__first,
.img-first:active+.help-img__first,
.img-second:hover+.help-img__second,
.img-third:hover+.help-img__third,
.img-fourth:hover+.help-img__fourth,
.img-fifth:hover+.help-img__fifth,
.img-six:hover+.help-img__six {
  opacity: 1;
  transition: 0.5s;
}


.img-second:hover+.help-img__second{
opacity: 1;
transition: 0.5s;
}

.img-third:hover+.help-img__third{
opacity: 1;
transition: 0.5s;
}

.img-fourth:hover+.help-img__fourth{
opacity: 1;
transition: 0.5s;
}

.img-fifth:hover+.help-img__fifth{
  opacity: 1;
  transition: 0.5s;
}

.img-six:hover+.help-img__six{
  opacity: 1;
  transition: 0.5s;
}

