<!-- <p>
  image works!
</p> -->
        <!-- </div> -->
        <!-- <h3>Gallery</h3> -->
        <div *ngIf="requests">
            <div *ngFor="let request of requests">
              <!-- <a>{{ user.first_name }},</a><p>{{ user.last_name }}</p> -->

        <div class='gallery-info'>
            <a href='{{request.photoURL}}'>
              <figure class='gallery-figure'>
                <img class='gallery-image' src='{{request.photoURL}}' alt="photo-pet">
                <figcaption>
                    <div class='gallery-title'>
                        <h3> {{ request.username }} </h3>
                        {{request.type}}
                        <p> {{request.creationDate}}</p>

                    </div>
                    <p>{{request.message}}</p>
                </figcaption>
              </figure>
            </a>
          </div>
        </div>
      </div>

