<!--
<form [formGroup]="requestForm" (ngSubmit)="sendRequestForm">
  <div>
    <label>First Name: <input type="text" formControlName="firstName"></label>
  </div>
  <div>
    <label>Last Name:
      <input type="text" formControlName="lastName">
  </label>
  </div>
</form> -->

<form [formGroup]="requestForm" (ngSubmit)="sendRequestForm">
  <h2 class='form-title'>Search Pet</h2>

  <!-- <h3>Enter the pet's info</h3> -->
  <div class='found-form'>
      <div class="form-type col-lg-2">
          <img class='found-content__icon' src='./assets/paw.svg'>
          <label class='form-label'>Choose Type:</label>
          <div class="form-type__radio radio">
            <label class='radio-btn'>
              <input class='form-radio__btn' type="radio" name="STATUS" value="Lost" checked="">
              <p class='radio-btn__text form-type__text form-type__firstlabel'>Lost</p>
            </label>

            <span class='form-type__text form-type__span'>or</span>

            <label class='radio-btn'>
              <input class='form-radio__btn' type="radio" name="STATUS" value="Found">
              <p class='radio-btn__text form-type__text form-type__secondlabel'>Found</p>
            </label>
          </div>
        </div>


          <div class='form-date'>
            <img class='found-content__icon' src='./assets/paw.svg'>
            <label class='form-label'>Pick A Date:</label>
            <input class='form-date__input' id="date" lang='eng' type="date"
             [ngModel]="today | date:'yyyy-MM-dd'"
             (ngModelChange)="today = $event"
             name="dt"
             #searchDate required>
          </div>

          <div class='form-message'>
            <img class='found-content__icon' src='./assets/paw.svg'>
            <label class='form-label'>Enter Message:</label>
            <textarea class='form-message__textarea'
              type='text'
              name="message"
              id="message"
              cols="48"
              rows="8"
              pattern='[A-Za-z]{3}'
              placeholder='Enter information about the pet' required>
            </textarea>
          </div>

          <div class='form-download'>
            <img class='found-content__icon' src='./assets/paw.svg'>
            <label class='form-label'>Upload Pet Photo:</label>

            <div class='found-input' title="Press for found file">
              <input lang='en' class='found-input__file' type="file" size="1" />
            </div>
          </div>

          <div class='form-map'>
              <img class='found-content__icon' src='./assets/paw.svg'>
              <label class='form-label'>Pick A Location:</label>
          </div>
  </div>

    <router-outlet></router-outlet>

    <div  class='map-position'>
      <app-map-search></app-map-search>
    </div>

    <button type='submit'>Send</button>

</form>
