* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  outline: none !important;
}

  form {
  margin-top: 90px;
}

.form-title {
  font-family: 'rancho', cursive;
  font-weight: 100;
  font-size: calc( (100vw - 480px)/(1280 - 480) * (45 - 30) + 30px);
  text-align: center;
  text-shadow: 5px 5px 10px #585858;
  padding-bottom: 1%;
}
.found-form {
  width: 36%;
  padding-left: 32%;
}
.radio-btn {
  /* padding: 15px; */
}

.found-content__icon {
  width: 30px;
  height: 30px;
  opacity: 1;
  padding-right: 15px;
}

.map-position {
  margin-left: 25%;
  width: 50%;
}

.form-type,
.form-date,
.form-message,
.form-download,
.form-map {
  display: flex;
  justify-content: flex-start;
  margin: 3% 0;
}

.form-type__radio,
.radio-btn {
  display: flex;
  padding-left: 6%;
}

.form-label,
.form-type__text {
  padding-right: 20px;
  font-size: calc( (100vw - 480px)/(1280 - 480) * (22 - 15) + 15px);
}

.form-type__span {
  margin: 0 8px 0 14px;
}

.form-radio__btn{
    -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #e2dcdc;
     border: 2px solid #fa973a;
     color: #666;
     top: 5px;
     height: 28px;
     width: 28px;
     /* border: 0; */
     border-radius: 3px;
     cursor: pointer;
     margin-right: 7px;
     outline: none;
}

.form-radio__btn:checked::before
{
     position: absolute;
     font: 26px/1 'Open Sans', sans-serif;
     left: 9px;
     top: 0px;
     bottom: 7px;
     content: '\02143';
     transform: rotate(40deg);
     color: #227035;
}

.form-radio__btn:hover {
  background-color: #aca2a2;
}

.form-radio__btn:checked {
  background-color: #d4f0db;
}

.radio-btn__text {
  font-family: 'rancho', cursive;
  font-weight: 700;
  font-size: calc( (100vw - 480px)/(1280 - 480) * (28 - 15) + 15px);
}

.form-type__text {
  padding: 0 5px;
}

.form-type__firstlabel {
  color: #fa973a;
}

.form-type__secondlabel {
  color: #3fa7ec;
}

.form-date__input {
  margin-left: 15%;
  padding-left: 20px;
  text-align: center;
  border-radius: 10px;
  border: 2px solid #fa973a;
  color: #275529;
  background-color: #f4f4f6;
  font-weight: 700;
  font-size: 20px;
}

.form-message__textarea {
  border-radius: 10px;
  border: 2px solid #fa973a;
  background-color: #f4f4f6;
  font-size: 20px;
}

.form-message__textarea:-moz-placeholder{
  color: #204420;
  font-size: 20px;
}
.form-message__textarea::-webkit-input-placeholder {
  color: #406e40;
  font-size: 20px;
}

.found-input__file {
  color: transparent;
  padding: 0 0 5px 25px;
  border: none;
}
.found-input__file::-webkit-file-upload-button {
  visibility: hidden;
}
.found-input__file::before {
  content: 'Select A Photo';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border: 2px solid #fa973a;
  border-radius: 10px;
  margin-left: 7%;
  padding: 3px 35px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 15pt;
}
.found-input__file:hover::before {
  border-color: black;
}
.found-input__file:active {
  outline: 0;
}
.found-input__file:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.form-submit {
  margin: 2% 0;
  padding: 9px 40px;
  border: 2px solid #fa973a;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 700;
}

.form-submit:active,
.form-submit:hover {
  background-color: #fa973a;
}
/* .found-input {
  overflow:hidden;
  width:95px;
  height:37px;
  cursor:pointer;
  bac
  kground:url(input-file.gif) no-repeat;
} */

/* .found-input__file {
  opacity:0;
  filter:alpha(opacity:0);
  font-size:19px;
  cursor:pointer;
  padding:0px;
  margin:0px;
  border:none;
  margin-left:-450px;
} */

/* * {box-sizing: border-box;}
body {background: #f69a73;}
.decor {
  position: relative;
  max-width: 400px;
  margin: 50px auto 0;
  background: white;
  border-radius: 30px;
}
.form-left-decoration,
.form-right-decoration {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  background: #f69a73;
  border-radius: 20px;
}
.form-left-decoration {
  bottom: 60px;
  left: -30px;
}
.form-right-decoration {
  top: 60px;
  right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: white;
}
.form-left-decoration:before {top: -20px;}
.form-left-decoration:after {
  top: 20px;
  left: 10px;
}
.form-right-decoration:before {
  top: -20px;
  right: 0;
}
.form-right-decoration:after {
  top: 20px;
  right: 10px;
}
.circle {
  position: absolute;
  bottom: 80px;
  left: -55px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
}
.form-inner {padding: 50px;}
.form-inner input,
.form-inner textarea {
  display: block;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 10px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
}
.form-inner input[type="submit"] {
  margin-top: 30px;
  background: #f69a73;
  border-bottom: 4px solid #d87d56;
  color: white;
  font-size: 14px;
}
.form-inner textarea {resize: none;}
.form-inner h3 {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #707981;
} */


