*  {
  outline: none !important;
}
.map-container {
  width: 100%;
  margin: 0 auto;
}

agm-map {
  display: flex;
  width: 85%;
  height: 550px;
  margin-left: 14%;
  margin-right: 5%;
  margin-bottom: 20px;
}

@media ( min-width : 481 px ) and ( max-width : 767 px ) {
  .map-container {
    width: 400px;
  }
}

.marker-image {
  width: 100px;
  height: auto;;
}

.map-content__icon {
  width: 30px;
  height: 30px;
  opacity: 1;
}

.form-map__label {
  font-size: 25px;
  padding-right: 15px;
}

.form-map__input {
  margin: 3% 0 2% 4%;
  padding: 9px 30px;
  border: 2px solid #fa973a;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
}

.form-map__info {
  font-size: 17px;
}
